@model EComPortal.Models.Product.ProductItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductItem</h4>
    <hr />
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }
    <dl class="row">
        <dt class="col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.Image_name)
        </dt>
        <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.Image_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
    </dl>
</div>
<div>
    <a style="margin-bottom:5px" class="btn btn-success" asp-controller="ProceedToBuy" asp-action="Details" asp-route-id="@Model.Id.ToString()">Proceed To Buy</a>
    <a style="margin-bottom:5px" class="btn btn-primary" asp-area="" asp-controller="Wishlist" asp-action="AddItem" asp-route-id="@Model.Id.ToString()">Add To Wishlist</a>
    <a style="margin-bottom:5px" class="btn btn-info" asp-action="Index">Back to List</a>
</div>
